@font-face {
  font-family: 'coffeeatmidnight';
  src: url('../fonts/Coffee At Midnight Demo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'learningcurve';
  src: url('../fonts/LearningCurve.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*nav .brand-logo {
  left: 3%;
}
*/
#black {
  background-color: #000;
}

#back {
 background: url("../images/rejista.jpeg");
 background-size: cover;
 background-position: center center;
 background-attachment: fixed;
 background-repeat: no-repeat;
 opacity: 0.5;
 height: 100vh;
 width: 100vw;
 top: 0;
}

.content {
   position: absolute;
   top: 50%;
   left: 50%;
   min-width: 40%;
   transform: translate(-50%, -50%);
   text-align: center;
}

#font {
  font-family: coffeeatmidnight;
  color: #fff;
}

#register {
  font-family: learningcurve;
}

.delete {
  cursor: pointer;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 480px) {
    .brand-logo {
      margin-left: 2%;
    }
}